/* Typefaces */
@font-face {
    font-family: Oswald;
    src: url('../typefaces/Oswald.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../typefaces/Roboto-Regular.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('../typefaces/Montserrat-Regular.ttf');
}

/* Welcome Popup */
#overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/* The info alert */
.welcome {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;
    z-index: 2;
}

.info-block {
    line-height: 0px;
}

/* Font for Titles */
.np{
    flex: 1;
    font-size:20px;
    font-family: 'Roboto';
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Info Alert Close button */
.x{
    cursor: pointer;
    color: black;
    opacity: 0.8;
}

/* Header */
#page-header{
    margin-top: 22%;
    text-align: center;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-name: move-up;
}

.page-heading{
    font-family: sans-serif;
    font-size: 200%;
    color: white;
}

/* Welcome Animation Sequence */
@keyframes move-up {
    from {
        margin-top: 22%;
    }

    to {
        margin-top: 15%;
    }
}

@keyframes move-up-more {
    from {
        margin-top: 15%;
    }

    to {
        margin-top: 2%;
    }
}

.centered-text{
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.smaller-text{
    margin-right: 3px;
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: 14px;
}

/* Enable Cookies! */
.got-it{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    font-size: 12px;
    background-color: white;
    border: 1px solid #004c3f;
    text-align: center;
    border-radius: 20px;
}

/* Fade content in after welcome sequence, added programatically by main.js */
@keyframes fadein {
    from { 
        opacity: 0; 
    }
    to   { 
        opacity: 1; 
    }
}

/* Body */
body{
    margin: 0px;
    background-color: black;
}

main {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    padding: 5px;
    flex-direction: row;
    flex-flow: row wrap
}

/* All the cards- Nominations card, Search card */
.card {
    border: 1px solid #e2e0e0;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

/* Left Column: Nominations and Presented By */
.left{
    margin-left: 5px;
    margin-right: 10px;
    flex: 1;
}

/* 5. Star Wars: Episode IV - A New Hope */
.nomination {
    border: 1px solid gold;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    word-wrap: break-word;
    font-family: "Montserrat";
}

/* Your nominations will appear here */
.nomination_placeholder {
    border: 1px solid gold;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-family: "Montserrat";
}

/* 'Presented by' box */
.present {
    /* display: flex; */
    /* flex-direction: row; */
    text-align: center;
    justify-content:center;
    border: 1px solid #e2e0e0;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

p{
    font-family: 'Roboto';
    color: white;
}

/* Info Alert text */
.w-text{
    color: black;
    padding-top: 10px;
    padding-left:50px;
    padding-right:50px;
}

/* Presented by Shopify text */
.shopify-text{
    color: white;
    margin-right: 3vh;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
}

/* The x under the Nomination */
.remove{
    cursor: pointer;
    opacity: 0.5;
    margin-right: 9px;
    float: right;
}

/* Small Text */
.p2{ 
    font-size: smaller;
    font-family: 'Roboto';
}

/* Right Column: Search Movies */
.right{
    margin-right: 15px;
    flex: 4;
}

/* Titles like: Nominations and Find Movies */
.title {
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto';
    color: white;
}

.search-card{
    /* height: 2.5vh; */
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    border-radius: 50px;
    width: 92%;
    color: #000000;
    background: #f6f7f8;
}

.search-button{
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 50px;
    color: #000000;
    background: #f6f7f8;
}

.hidden {
    display: none !important;
}

/* Placeholder text: Find a movie to nominate by searching above! */
.toHide {
    height: 64vh;
    text-align: center;
}

.giantTrophy{
    font-size: 10vh;
    opacity: 0.75;
}

/* The Movie Card */
.poster{
    height: 150px;
    border: 0.5px solid white;
}

.movieResult{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nominate {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    text-align: center;
    color: #4e4e4e;
    border: 1px solid black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    width: fit-content;
}

/* Footer */

footer a { /* Otherwise the link will become dark blue or purple and they don't go as well with black */
    color: #30ce99;
}

footer {
    font-size: 2.4vh;
    padding: 1px;
    color: #002721;
    text-align: center;
    font-family:'Roboto';
}

/* Responsive */
@media (max-width: 550px){
    
    .left{ /* On smaller devices make Presented by Shopify come first */
        display: flex;
        flex-direction: column-reverse; 
    }
    main{
        flex-direction: column;
    }
}